# Pandas - Series

In [32]:
import numpy as np
import pandas as pd

## 시리즈 생성

In [33]:
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [34]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], 
              index=['서울', '부산', '인천', '대구'], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [35]:
# 시리즈의 값 : numpy 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [36]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [37]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

### 시리즈의 연산

In [38]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### 시리즈 인덱싱

In [39]:
s[1], s['부산']

(3448737, 3448737)

In [40]:
# fancy indexing
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [41]:
s[['서울', '대구', '부산']]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [42]:
# slicing
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [43]:
# 문자 인덱스로 슬라이싱하면 마지막 인덱스도 포함됨
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [44]:
# 필터링
s[(2500000<s) & (s<3000000)]

도시
인천    2890451
Name: 인구, dtype: int32

In [45]:
s[(s<2500000) | (s>4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

In [46]:
s.부산

3448737

### 시리즈와 딕셔너리

In [47]:
s2 = pd.Series({'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158})
s2
# 일반적으로 시리즈를 만들때 딕셔너리를 잘 활용하지는 않는다.

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [48]:
'서울' in s, '대전' in s

(True, False)

### 인덱스 기반 연산

In [49]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [50]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [53]:
rs = (s-s2)/s * 100
rs

대구         NaN
대전         NaN
부산    1.610619
서울    2.754659
인천    8.940335
dtype: float64

In [54]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [61]:
rs = rs[rs.notnull()]
rs

부산    1.630000
서울    2.754659
인천    8.940335
dtype: float64

### 데이터의 갱신, 추가, 삭제

In [62]:
# 추가
rs['부산'] = 1.63
rs

부산    1.630000
서울    2.754659
인천    8.940335
dtype: float64

In [63]:
# 삭제
del rs['부산']
rs

서울    2.754659
인천    8.940335
dtype: float64