# 데이터프레임 고급 인덱싱

In [99]:
import pandas as pd
import numpy as np

## loc 인덱서
- 행을 기준으로 인덱싱

In [100]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

### 1개만 있으면 행 인덱싱

In [101]:
df.loc['x']

A    10
B    11
C    12
D    13
Name: x, dtype: int64

In [102]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [103]:
df['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [104]:
df.loc[['x', 'z']]

    A   B   C   D
x  10  11  12  13
z  18  19  20  21

In [105]:
df['A'] > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [106]:
# Boolean indexing
df.loc[df['A'] > 15]

    A   B   C   D
z  18  19  20  21

### 인덱서 2개를 받는 경우

In [107]:
df.loc['x', 'A']

10

In [108]:
df['A']['x']

10

In [109]:
df.loc['y':, 'B']

y    15
z    19
Name: B, dtype: int64

In [110]:
df['B']['y':]

y    15
z    19
Name: B, dtype: int64

In [111]:
df.loc[df.A>10, 'A']

y    14
z    18
Name: A, dtype: int64

### iloc 인덱서
- 인덱스를 기준으로 인덱싱

In [112]:
df.iloc[0, 0]

10

In [113]:
df.iloc[:2, 1:]

    B   C   D
x  11  12  13
y  15  16  17

In [114]:
### 연습문제
df = pd.DataFrame(np.arange(25).reshape(5, 5),
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['v', 'w', 'x', 'y', 'z'])
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [115]:
# 12 값 도출
df['x']['c'], df.x['c'], df.x[2], df.x.c

(12, 12, 12, 12)

In [116]:
df.loc['c', 'x'], df.loc['c']['x'], df.loc['c'][2]

(12, 12, 12)

In [117]:
df.iloc[2, 2], df.iloc[2]['x'], df.iloc[2][2]

(12, 12, 12)

In [118]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [119]:
for i in df.index:
  print(df.x[i])

2
7
12
17
22